


<div class="container">
    <div class="accordion-option">
        <h3 class="title">Dit budget</h3>
        <a href="javascript:void(0)" class="toggle-accordion active" accordion-id="#accordion"></a>
    </div>
    <div class="clearfix"></div>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div id="income" class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Indkomst
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <div class="panel-item">
                        <label>Løn</label>
                        <a href="#" data-toggle="tooltip" data-placement="right" title="Estimeret forbrug på madvarer"> ? </a>
                        <div class="panel-input">
                            <input type="number" name="Indkomst" value="" />
                            <select name="freq-list" form="form">
                                <option value="weekly">Ugentlig</option>
                                <option value="monthly">Månedlig</option>
                                <option value="quarterly">Kvartalsvis</option>
                                <option value="annually">Årlig</option>
                            </select>
                        </div>

                    </div>
                    <div class="panel-item">
                        <label>Overførselsindkomst</label>
                        <a href="#" data-toggle="tooltip" data-placement="right" title="Estimeret forbrug på madvarer"> ? </a>
                        <div class="panel-input">
                            <input type="number" name="Indkomst" value="" />
                            <select name="freq-list" form="form">
                                <option value="weekly">Ugentlig</option>
                                <option value="monthly">Månedlig</option>
                                <option value="quarterly">Kvartalsvis</option>
                                <option value="annually">Årlig</option>
                            </select>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div id="totalIncome" class="panel panel-default">
            <h4 class="totalIncome-title">Samlet indkomst</h4>
            <h4 class="totalIncome">3000 kr.</h4>
        </div>
        <div id="housing" class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                        Bolig og forbrug
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    <div class="panel-item">
                        <label>Husleje/boligydelse</label>
                        <a href="#" data-toggle="tooltip" data-placement="right" title="Estimeret forbrug på madvarer"> ? </a>
                        <div class="panel-input">
                            <input type="number" name="Indkomst" value="" />
                            <select name="freq-list" form="form">
                                <option value="weekly">Ugentlig</option>
                                <option value="monthly">Månedlig</option>
                                <option value="quarterly">Kvartalsvis</option>
                                <option value="annually">Årlig</option>
                            </select>
                        </div>

                    </div>
                    <div class="panel-item">
                        <label>El</label>
                        <a href="#" data-toggle="tooltip" data-placement="right" title="Estimeret forbrug på madvarer"> ? </a>
                        <div class="panel-input">
                            <input type="number" name="Indkomst" value="" />
                            <select name="freq-list" form="form">
                                <option value="weekly">Ugentlig</option>
                                <option value="monthly">Månedlig</option>
                                <option value="quarterly">Kvartalsvis</option>
                                <option value="annually">Årlig</option>
                            </select>
                        </div>
                    </div>
                    <div class="panel-item">
                        <label>Vand</label>
                        <a href="#" data-toggle="tooltip" data-placement="right" title="Estimeret forbrug på madvarer"> ? </a>
                        <div class="panel-input">
                            <input type="number" name="Indkomst" value="" />
                            <select name="freq-list" form="form">
                                <option value="weekly">Ugentlig</option>
                                <option value="monthly">Månedlig</option>
                                <option value="quarterly">Kvartalsvis</option>
                                <option value="annually">Årlig</option>
                            </select>
                        </div>
                    </div>
                    <div class="panel-item">
                        <label>Varme</label>
                        <a href="#" data-toggle="tooltip" data-placement="right" title="Estimeret forbrug på madvarer"> ? </a>
                        <div class="panel-input">
                            <input type="number" name="Indkomst" value="" />
                            <select name="freq-list" form="form">
                                <option value="weekly">Ugentlig</option>
                                <option value="monthly">Månedlig</option>
                                <option value="quarterly">Kvartalsvis</option>
                                <option value="annually">Årlig</option>
                            </select>
                        </div>
                    </div>
                    <div class="panel-item">
                        <label>TV</label>
                        <a href="#" data-toggle="tooltip" data-placement="right" title="Estimeret forbrug på madvarer"> ? </a>
                        <div class="panel-input">
                            <input type="number" name="Indkomst" value="" />
                            <select name="freq-list" form="form">
                                <option value="weekly">Ugentlig</option>
                                <option value="monthly">Månedlig</option>
                                <option value="quarterly">Kvartalsvis</option>
                                <option value="annually">Årlig</option>
                            </select>
                        </div>
                    </div>
                    <div class="panel-item">
                        <label>Internet</label>
                        <a href="#" data-toggle="tooltip" data-placement="right" title="Estimeret forbrug på madvarer"> ? </a>
                        <div class="panel-input">
                            <input type="number" name="Indkomst" value="" />
                            <select name="freq-list" form="form">
                                <option value="weekly">Ugentlig</option>
                                <option value="monthly">Månedlig</option>
                                <option value="quarterly">Kvartalsvis</option>
                                <option value="annually">Årlig</option>
                            </select>
                        </div>
                    </div>
                    <div class="panel-item">
                        <label>Vedligeholdelse og renovationer</label>
                        <a href="#" data-toggle="tooltip" data-placement="right" title="Estimeret forbrug på madvarer"> ? </a>
                        <div class="panel-input">
                            <input type="number" name="Indkomst" value="" />
                            <select name="freq-list" form="form">
                                <option value="weekly">Ugentlig</option>
                                <option value="monthly">Månedlig</option>
                                <option value="quarterly">Kvartalsvis</option>
                                <option value="annually">Årlig</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="loans" class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                        Lån
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                    <div class="panel-item">
                        <label>Banklån</label>
                        <a href="#" data-toggle="tooltip" data-placement="right" title="Estimeret forbrug på madvarer"> ? </a>
                        <div class="panel-input">
                            <input type="number" name="Indkomst" value="" />
                            <select name="freq-list" form="form">
                                <option value="weekly">Ugentlig</option>
                                <option value="monthly">Månedlig</option>
                                <option value="quarterly">Kvartalsvis</option>
                                <option value="annually">Årlig</option>
                            </select>
                        </div>
                    </div>
                    <div class="panel-item">
                        <label>Realkreditlån</label>
                        <a href="#" data-toggle="tooltip" data-placement="right" title="Estimeret forbrug på madvarer"> ? </a>
                        <div class="panel-input">
                            <input type="number" name="Indkomst" value="" />
                            <select name="freq-list" form="form">
                                <option value="weekly">Ugentlig</option>
                                <option value="monthly">Månedlig</option>
                                <option value="quarterly">Kvartalsvis</option>
                                <option value="annually">Årlig</option>
                            </select>
                        </div>
                    </div>
                    <div class="panel-item">
                        <label>Billån</label>
                        <a href="#" data-toggle="tooltip" data-placement="right" title="Estimeret forbrug på madvarer"> ? </a>
                        <div class="panel-input">
                            <input type="number" name="Indkomst" value="" />
                            <select name="freq-list" form="form">
                                <option value="weekly">Ugentlig</option>
                                <option value="monthly">Månedlig</option>
                                <option value="quarterly">Kvartalsvis</option>
                                <option value="annually">Årlig</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="insurance" class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFour">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                        Forsikringer og lignende
                    </a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                <div class="panel-body">
                    <div class="panel-item">
                        <label>Husforsikring</label>
                        <a href="#" data-toggle="tooltip" data-placement="right" title="Estimeret forbrug på madvarer"> ? </a>
                        <div class="panel-input">
                            <input type="number" name="Indkomst" value="" />
                            <select name="freq-list" form="form">
                                <option value="weekly">Ugentlig</option>
                                <option value="monthly">Månedlig</option>
                                <option value="quarterly">Kvartalsvis</option>
                                <option value="annually">Årlig</option>
                            </select>
                        </div>
                    </div>
                    <div class="panel-item">
                        <label>Bilforsikring</label>
                        <a href="#" data-toggle="tooltip" data-placement="right" title="Estimeret forbrug på madvarer"> ? </a>
                        <div class="panel-input">
                            <input type="number" name="Indkomst" value="" />
                            <select name="freq-list" form="form">
                                <option value="weekly">Ugentlig</option>
                                <option value="monthly">Månedlig</option>
                                <option value="quarterly">Kvartalsvis</option>
                                <option value="annually">Årlig</option>
                            </select>
                        </div>
                    </div>
                    <div class="panel-item">
                        <label>Husforsikring</label>
                        <a href="#" data-toggle="tooltip" data-placement="right" title="Estimeret forbrug på madvarer"> ? </a>
                        <div class="panel-input">
                            <input type="number" name="Indkomst" value="" />
                            <select name="freq-list" form="form">
                                <option value="weekly">Ugentlig</option>
                                <option value="monthly">Månedlig</option>
                                <option value="quarterly">Kvartalsvis</option>
                                <option value="annually">Årlig</option>
                            </select>
                        </div>
                    </div>
                    <div class="panel-item">
                        <label>Familieforsikring (ansvar, retshjælp og indbo)</label>
                        <a href="#" data-toggle="tooltip" data-placement="right" title="Estimeret forbrug på madvarer"> ? </a>
                        <div class="panel-input">
                            <input type="number" name="Indkomst" value="" />
                            <select name="freq-list" form="form">
                                <option value="weekly">Ugentlig</option>
                                <option value="monthly">Månedlig</option>
                                <option value="quarterly">Kvartalsvis</option>
                                <option value="annually">Årlig</option>
                            </select>
                        </div>
                    </div>
                    <div class="panel-item">
                        <label>Ulykkesforsikring</label>
                        <a href="#" data-toggle="tooltip" data-placement="right" title="Estimeret forbrug på madvarer"> ? </a>
                        <div class="panel-input">
                            <input type="number" name="Indkomst" value="" />
                            <select name="freq-list" form="form">
                                <option value="weekly">Ugentlig</option>
                                <option value="monthly">Månedlig</option>
                                <option value="quarterly">Kvartalsvis</option>
                                <option value="annually">Årlig</option>
                            </select>
                        </div>
                    </div>
                    <div class="panel-item">
                        <label>Livsforsikring</label>
                        <a href="#" data-toggle="tooltip" data-placement="right" title="Estimeret forbrug på madvarer"> ? </a>
                        <div class="panel-input">
                            <input type="number" name="Indkomst" value="" />
                            <select name="freq-list" form="form">
                                <option value="weekly">Ugentlig</option>
                                <option value="monthly">Månedlig</option>
                                <option value="quarterly">Kvartalsvis</option>
                                <option value="annually">Årlig</option>
                            </select>
                        </div>
                    </div>
                    <div class="panel-item">
                        <label>Rejseforsikring</label>
                        <a href="#" data-toggle="tooltip" data-placement="right" title="Estimeret forbrug på madvarer"> ? </a>
                        <div class="panel-input">
                            <input type="number" name="Indkomst" value="" />
                            <select name="freq-list" form="form">
                                <option value="weekly">Ugentlig</option>
                                <option value="monthly">Månedlig</option>
                                <option value="quarterly">Kvartalsvis</option>
                                <option value="annually">Årlig</option>
                            </select>
                        </div>
                    </div>
                    <div class="panel-item">
                        <label>A-kasse</label>
                        <a href="#" data-toggle="tooltip" data-placement="right" title="Estimeret forbrug på madvarer"> ? </a>
                        <div class="panel-input">
                            <input type="number" name="Indkomst" value="" />
                            <select name="freq-list" form="form">
                                <option value="weekly">Ugentlig</option>
                                <option value="monthly">Månedlig</option>
                                <option value="quarterly">Kvartalsvis</option>
                                <option value="annually">Årlig</option>
                            </select>
                        </div>
                    </div>
                    <div class="panel-item">
                        <label>Fagforening</label>
                        <a href="#" data-toggle="tooltip" data-placement="right" title="Estimeret forbrug på madvarer"> ? </a>
                        <div class="panel-input">
                            <input type="number" name="Indkomst" value="" />
                            <select name="freq-list" form="form">
                                <option value="weekly">Ugentlig</option>
                                <option value="monthly">Månedlig</option>
                                <option value="quarterly">Kvartalsvis</option>
                                <option value="annually">Årlig</option>
                            </select>
                        </div>
                    </div>
                    <div class="panel-item">
                        <label>Sygeforsikring</label>
                        <a href="#" data-toggle="tooltip" data-placement="right" title="Estimeret forbrug på madvarer"> ? </a>
                        <div class="panel-input">
                            <input type="number" name="Indkomst" value="" />
                            <select name="freq-list" form="form">
                                <option value="weekly">Ugentlig</option>
                                <option value="monthly">Månedlig</option>
                                <option value="quarterly">Kvartalsvis</option>
                                <option value="annually">Årlig</option>
                            </select>
                        </div>
                    </div>
                    <div class="panel-item">
                        <label>Kæledyrsforsikring</label>
                        <a href="#" data-toggle="tooltip" data-placement="right" title="Estimeret forbrug på madvarer"> ? </a>
                        <div class="panel-input">
                            <input type="number" name="Indkomst" value="" />
                            <select name="freq-list" form="form">
                                <option value="weekly">Ugentlig</option>
                                <option value="monthly">Månedlig</option>
                                <option value="quarterly">Kvartalsvis</option>
                                <option value="annually">Årlig</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="transport" class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFive">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                        Transport
                    </a>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                <div class="panel-body">
                    <div class="panel-item">
                        <label>Brændstof</label>
                        <a href="#" data-toggle="tooltip" data-placement="right" title="Estimeret forbrug på madvarer"> ? </a>
                        <div class="panel-input">
                            <input type="number" name="Indkomst" value="" />
                            <select name="freq-list" form="form">
                                <option value="weekly">Ugentlig</option>
                                <option value="monthly">Månedlig</option>
                                <option value="quarterly">Kvartalsvis</option>
                                <option value="annually">Årlig</option>
                            </select>
                        </div>
                    </div>
                    <div class="panel-item">
                        <label>Leasingydelse</label>
                        <a href="#" data-toggle="tooltip" data-placement="right" title="Estimeret forbrug på madvarer"> ? </a>
                        <div class="panel-input">
                            <input type="number" name="Indkomst" value="" />
                            <select name="freq-list" form="form">
                                <option value="weekly">Ugentlig</option>
                                <option value="monthly">Månedlig</option>
                                <option value="quarterly">Kvartalsvis</option>
                                <option value="annually">Årlig</option>
                            </select>
                        </div>
                    </div>
                    <div class="panel-item">
                        <label>Afgifter (vægtafgift, ejerafgift osv.)</label>
                        <a href="#" data-toggle="tooltip" data-placement="right" title="Estimeret forbrug på madvarer"> ? </a>
                        <div class="panel-input">
                            <input type="number" name="Indkomst" value="" />
                            <select name="freq-list" form="form">
                                <option value="weekly">Ugentlig</option>
                                <option value="monthly">Månedlig</option>
                                <option value="quarterly">Kvartalsvis</option>
                                <option value="annually">Årlig</option>
                            </select>
                        </div>
                    </div>
                    <div class="panel-item">
                        <label>Reperationer</label>
                        <a href="#" data-toggle="tooltip" data-placement="right" title="Estimeret forbrug på madvarer"> ? </a>
                        <div class="panel-input">
                            <input type="number" name="Indkomst" value="" />
                            <select name="freq-list" form="form">
                                <option value="weekly">Ugentlig</option>
                                <option value="monthly">Månedlig</option>
                                <option value="quarterly">Kvartalsvis</option>
                                <option value="annually">Årlig</option>
                            </select>
                        </div>
                    </div>
                    <div class="panel-item">
                        <label>Parkering</label>
                        <a href="#" data-toggle="tooltip" data-placement="right" title="Estimeret forbrug på madvarer"> ? </a>
                        <div class="panel-input">
                            <input type="number" name="Indkomst" value="" />
                            <select name="freq-list" form="form">
                                <option value="weekly">Ugentlig</option>
                                <option value="monthly">Månedlig</option>
                                <option value="quarterly">Kvartalsvis</option>
                                <option value="annually">Årlig</option>
                            </select>
                        </div>
                    </div>
                    <div class="panel-item">
                        <label>Bus og tog</label>
                        <a href="#" data-toggle="tooltip" data-placement="right" title="Estimeret forbrug på madvarer"> ? </a>
                        <div class="panel-input">
                            <input type="number" name="Indkomst" value="" />
                            <select name="freq-list" form="form">
                                <option value="weekly">Ugentlig</option>
                                <option value="monthly">Månedlig</option>
                                <option value="quarterly">Kvartalsvis</option>
                                <option value="annually">Årlig</option>
                            </select>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div id="groceries" class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingSix">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                        Dagligvarer og personlige forhold
                    </a>
                </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                <div class="panel-body">
                    <div class="panel-item">
                        <label>Mad</label>
                        <a href="#" data-toggle="tooltip" data-placement="right" title="Estimeret forbrug på madvarer"> ? </a>
                        <div class="panel-input">
                            <input type="number" name="Indkomst" value="" />
                            <select name="freq-list" form="form">
                                <option value="weekly">Ugentlig</option>
                                <option value="monthly">Månedlig</option>
                                <option value="quarterly">Kvartalsvis</option>
                                <option value="annually">Årlig</option>
                            </select>
                        </div>

                    </div>
                    <div class="panel-item">
                        <label>Medicin</label>
                        <a href="#" data-toggle="tooltip" data-placement="right" title="Evt. fast ordineret medicin fx. mod allergi, diabetes etc."> ? </a>
                        <div class="panel-input">
                            <input type="number" name="Indkomst" value="" />
                            <select name="freq-list" form="form">
                                <option value="weekly">Ugentlig</option>
                                <option value="monthly">Månedlig</option>
                                <option value="quarterly">Kvartalsvis</option>
                                <option value="annually">Årlig</option>
                            </select>
                        </div>

                    </div>
                    <div class="panel-item">
                        <label>Tandlæge</label>
                        <a href="#" data-toggle="tooltip" data-placement="right" title="Tandlægeregninger"> ? </a>
                        <div class="panel-input">
                            <input type="number" name="Indkomst" value="" />
                            <select name="freq-list" form="form">
                                <option value="weekly">Ugentlig</option>
                                <option value="monthly">Månedlig</option>
                                <option value="quarterly">Kvartalsvis</option>
                                <option value="annually">Årlig</option>
                            </select>
                        </div>

                    </div>
                    <div class="panel-item">
                        <label>Briller og optiker</label>
                        <div class="panel-input">
                            <input type="number" name="Indkomst" value="" />
                            <select name="freq-list" form="form">
                                <option value="weekly">Ugentlig</option>
                                <option value="monthly">Månedlig</option>
                                <option value="quarterly">Kvartalsvis</option>
                                <option value="annually">Årlig</option>
                            </select>
                        </div>

                    </div>
                    <div class="panel-item">
                        <label>Frisør</label>
                        <div class="panel-input">
                            <input type="number" name="Indkomst" value="" />
                            <select name="freq-list" form="form">
                                <option value="weekly">Ugentlig</option>
                                <option value="monthly">Månedlig</option>
                                <option value="quarterly">Kvartalsvis</option>
                                <option value="annually">Årlig</option>
                            </select>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div id="family" class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingSeven">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
                        Familie og børn
                    </a>
                </h4>
            </div>
            <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                <div class="panel-body">
                    <div class="panel-item">
                        <label>Daginstitution</label>
                        <a href="#" data-toggle="tooltip" data-placement="right" title="Udgifter til baby som fx. bleer, modermælkserstatning, vådservietter etc."> ? </a>
                        <div class="panel-input">
                            <input type="number" name="Indkomst" value="" />
                            <select name="freq-list" form="form">
                                <option value="weekly">Ugentlig</option>
                                <option value="monthly">Månedlig</option>
                                <option value="quarterly">Kvartalsvis</option>
                                <option value="annually">Årlig</option>
                            </select>
                        </div>

                    </div>
                    <div class="panel-item">
                        <label>Privatskole</label>
                        <a href="#" data-toggle="tooltip" data-placement="right" title="Estimeret forbrug på madvarer"> ? </a>
                        <div class="panel-input">
                            <input type="number" name="Indkomst" value="" />
                            <select name="freq-list" form="form">
                                <option value="weekly">Ugentlig</option>
                                <option value="monthly">Månedlig</option>
                                <option value="quarterly">Kvartalsvis</option>
                                <option value="annually">Årlig</option>
                            </select>
                        </div>
                    </div>
                    <div class="panel-item">
                        <label>SFO</label>
                        <a href="#" data-toggle="tooltip" data-placement="right" title="Udgifter til baby som fx. bleer, modermælkserstatning, vådservietter etc."> ? </a>
                        <div class="panel-input">
                            <input type="number" name="Indkomst" value="" />
                            <select name="freq-list" form="form">
                                <option value="weekly">Ugentlig</option>
                                <option value="monthly">Månedlig</option>
                                <option value="quarterly">Kvartalsvis</option>
                                <option value="annually">Årlig</option>
                            </select>
                        </div>
                    </div>
                    <div class="panel-item">
                        <label>Efterskole</label>
                        <a href="#" data-toggle="tooltip" data-placement="right" title="Estimeret forbrug på madvarer"> ? </a>
                        <div class="panel-input">
                            <input type="number" name="Indkomst" value="" />
                            <select name="freq-list" form="form">
                                <option value="weekly">Ugentlig</option>
                                <option value="monthly">Månedlig</option>
                                <option value="quarterly">Kvartalsvis</option>
                                <option value="annually">Årlig</option>
                            </select>
                        </div>
                    </div>
                    <div class="panel-item">
                        <label>Lommepenge til børn</label>
                        <a href="#" data-toggle="tooltip" data-placement="right" title="Estimeret forbrug på madvarer"> ? </a>
                        <div class="panel-input">
                            <input type="number" name="Indkomst" value="" />
                            <select name="freq-list" form="form">
                                <option value="weekly">Ugentlig</option>
                                <option value="monthly">Månedlig</option>
                                <option value="quarterly">Kvartalsvis</option>
                                <option value="annually">Årlig</option>
                            </select>
                        </div>
                    </div>
                    <div class="panel-item">
                        <label>Børneopsparing</label>
                        <a href="#" data-toggle="tooltip" data-placement="right" title="Estimeret forbrug på madvarer"> ? </a>
                        <div class="panel-input">
                            <input type="number" name="Indkomst" value="" />
                            <select name="freq-list" form="form">
                                <option value="weekly">Ugentlig</option>
                                <option value="monthly">Månedlig</option>
                                <option value="quarterly">Kvartalsvis</option>
                                <option value="annually">Årlig</option>
                            </select>
                        </div>
                    </div>
                    <div class="panel-item">
                        <label>Fritidsinteresser</label>
                        <a href="#" data-toggle="tooltip" data-placement="right" title="Udgifter til baby som fx. bleer, modermælkserstatning, vådservietter etc."> ? </a>
                        <div class="panel-input">
                            <input type="number" name="Indkomst" value="" />
                            <select name="freq-list" form="form">
                                <option value="weekly">Ugentlig</option>
                                <option value="monthly">Månedlig</option>
                                <option value="quarterly">Kvartalsvis</option>
                                <option value="annually">Årlig</option>
                            </select>
                        </div>
                    </div>
                    <div class="panel-item">
                        <label>Bleer og andre babyartikler</label>
                        <a href="#" data-toggle="tooltip" data-placement="right" title="Udgifter til baby som fx. bleer, modermælkserstatning, vådservietter etc."> ? </a>
                        <div class="panel-input">
                            <input type="number" name="Indkomst" value="" />
                            <select name="freq-list" form="form">
                                <option value="weekly">Ugentlig</option>
                                <option value="monthly">Månedlig</option>
                                <option value="quarterly">Kvartalsvis</option>
                                <option value="annually">Årlig</option>
                            </select>
                        </div>
                    </div>
                    <div class="panel-item">
                        <label>Kæledyrsartikler</label>
                        <a href="#" data-toggle="tooltip" data-placement="right" title="Udgifter til baby som fx. bleer, modermælkserstatning, vådservietter etc."> ? </a>
                        <div class="panel-input">
                            <input type="number" name="Indkomst" value="" />
                            <select name="freq-list" form="form">
                                <option value="weekly">Ugentlig</option>
                                <option value="monthly">Månedlig</option>
                                <option value="quarterly">Kvartalsvis</option>
                                <option value="annually">Årlig</option>
                            </select>
                        </div>
                    </div>
                    <div class="panel-item">
                        <label>Foder til kæledyr</label>
                        <a href="#" data-toggle="tooltip" data-placement="right" title="Udgifter til baby som fx. bleer, modermælkserstatning, vådservietter etc."> ? </a>
                        <div class="panel-input">
                            <input type="number" name="Indkomst" value="" />
                            <select name="freq-list" form="form">
                                <option value="weekly">Ugentlig</option>
                                <option value="monthly">Månedlig</option>
                                <option value="quarterly">Kvartalsvis</option>
                                <option value="annually">Årlig</option>
                            </select>
                        </div>
                    </div>
                    <div class="panel-item">
                        <label>Dyrlæge</label>
                        <a href="#" data-toggle="tooltip" data-placement="right" title="Udgifter til baby som fx. bleer, modermælkserstatning, vådservietter etc."> ? </a>
                        <div class="panel-input">
                            <input type="number" name="Indkomst" value="" />
                            <select name="freq-list" form="form">
                                <option value="weekly">Ugentlig</option>
                                <option value="monthly">Månedlig</option>
                                <option value="quarterly">Kvartalsvis</option>
                                <option value="annually">Årlig</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="entertainment" class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingEight">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="true" aria-controls="collapseEight">
                        Underholdning og fornøjelser
                    </a>
                </h4>
            </div>
            <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
                <div class="panel-body">
                    <div class="panel-item">
                        <label>Restaurantbesøg</label>
                        <div class="panel-input">
                            <input type="number" name="Indkomst" value="" />
                            <select name="freq-list" form="form">
                                <option value="weekly">Ugentlig</option>
                                <option value="monthly">Månedlig</option>
                                <option value="quarterly">Kvartalsvis</option>
                                <option value="annually">Årlig</option>
                            </select>
                        </div>

                    </div>
                    <div class="panel-item">
                        <label>Film og musik</label>
                        <div class="panel-input">
                            <input type="number" name="Indkomst" value="" />
                            <select name="freq-list" form="form">
                                <option value="weekly">Ugentlig</option>
                                <option value="monthly">Månedlig</option>
                                <option value="quarterly">Kvartalsvis</option>
                                <option value="annually">Årlig</option>
                            </select>
                        </div>

                    </div>
                    <div class="panel-item">
                        <label>Cigaretter</label>
                        <div class="panel-input">
                            <input type="number" name="Indkomst" value="" />
                            <select name="freq-list" form="form">
                                <option value="weekly">Ugentlig</option>
                                <option value="monthly">Månedlig</option>
                                <option value="quarterly">Kvartalsvis</option>
                                <option value="annually">Årlig</option>
                            </select>
                        </div>

                    </div>
                    <div class="panel-item">
                        <label>Magasiner og aviser</label>
                        <div class="panel-input">
                            <input type="number" name="Indkomst" value="" />
                            <select name="freq-list" form="form">
                                <option value="weekly">Ugentlig</option>
                                <option value="monthly">Månedlig</option>
                                <option value="quarterly">Kvartalsvis</option>
                                <option value="annually">Årlig</option>
                            </select>
                        </div>

                    </div>
                    <div class="panel-item">
                        <label>Gaver</label>
                        <div class="panel-input">
                            <input type="number" name="Indkomst" value="" />
                            <select name="freq-list" form="form">
                                <option value="weekly">Ugentlig</option>
                                <option value="monthly">Månedlig</option>
                                <option value="quarterly">Kvartalsvis</option>
                                <option value="annually">Årlig</option>
                            </select>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div id="disposable" class="panel panel-default">
            <h4 class="disposable-title">Månedligt rådighedsbeløb</h4>*
            <h4 class="disposable">30000 kr.</h4>
        </div>
    </div>
    <button type="button" class="btn btn-excel btn-success">Eksportér til Excel</button>
    <button type="button" class="btn btn-pdf btn-danger">Eksportér til PDF</button>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div id="get_quote" class="panel panel-heading">
            <h4>Brug for et lån? - Find en rådgiver!</h4>
        </div>
        <div id="get_quote_content" class="panel panel-default">
            <p>Noget indhold her!</p>
        </div>
    </div>
</div>

@*@using (Html.BeginForm())


{
    <div class="form-horizontal">
        <h4></h4>

        @{ int price = 50;}


        @{ <p> @price</p> }
        @{
            int value1;
            int value2;
            int value3;
            int value4;
            int value5;
            bool isChecked;

            int Return;
            int Return2 = 0;

            int.TryParse(Request["Indkomst"], out value1);
            int.TryParse(Request["Hus"], out value2);
            int.TryParse(Request["Forbrug"], out value3);
            int.TryParse(Request["Bil"], out value4);
            int.TryParse(Request["Forsikring"], out value4);
            int.TryParse(Request["Forsikring"], out value5);



            isChecked = Request["Check"].IsEmpty();

            Return = value1 - (value2 + value3 + value4);

        }
        <div class="col-lg-10">
            <label class=" success">Beregn for år i stedet for måned</label>
            <input type="checkbox" value="@isChecked" name="Check" />
        </div>
        <div class="col-lg-10">
            <label>Indkomst </label>
            <input type="number" name="Indkomst" value="@value1" />
        </div>
        <div class="col-lg-10">
            <label>Hus/Leje </label>
            <input type="number" name="Hus" value="@value2" />
        </div>
        <div class="col-lg-10">
            <label>Forbrug </label>
            <input type="number" name="Forbrug" value="@value3" />
        </div>
        <div class="col-lg-10">
            <label>Bil</label>
            <input type="number" name="Bil" value="@value4" />
        </div>
        <div class="col-lg-10">
            <label>Forsikring</label>
            <input type="number" name="Forsikring" value="@value5" />
        </div>

        <div class="col-lg-10">
            <input type="submit" class="success" value="submit" />
        </div>
        <div class="col-lg-10">
            <label>Dit Budget at gøre godt med</label>
            <h2>@Return</h2>
        </div>

    </div>

}*@


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
